.box {
    background-color: aqua;
    color: darkviolet;
    padding: 30px;
    margin: 10px;
    border: 2px solid black;
    height: 90px;
}

.box1 {
    background-color: darkkhaki;
    color: antiquewhite;
    padding: 40px;
    margin: 20px;
    border: 5px solid gold;
    height: 220px;
    box-sizing: border-box;
}

.box2 {
    background-color: greenyellow;
    color: darkblue;
    padding: 30px;
    margin: 10px;
    border: 10px solid blue;
    height: 50px;
}